//      =============
//      =   Global  =
//      =============

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.container{
    margin: 1em auto;
    @media (min-width: 786px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1070px;
    }
}

%center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}