//      =============
//      =   Global  =
//      =============

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

section{
    padding: 1em;
    margin: 2em 0;
}

section p{
    color: #444;
}
