//      =================
//      =   Variables   =
//      =================

$Primery-color: #10cbb8;
$Secondary-color: #2c4755;

$Transiton: all .4s ease-in-out;
$Shadows: 0 0 12px 4px rgba($color: #000000, $alpha: .1);
$Border-radius: .3em;
