//      =================
//      =    Imports    =
//      =================
@import "fonts";
@import "variables";
@import "global";


//      ==============
//      =   Header   =
//      ==============
.header{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative !important;
        @media (max-width: 786px) {
            width: 100%;
            padding: 0 1em;
        }
    }
    &__logo{
        width: 60px;
        cursor: pointer;
    }
    &__opening-btn{
        background-color: transparent;
        border: none;
    }
    &__links{
        width: 250px;
        background-color: white;
        position: absolute;
        bottom: -15em;
        right: 0;
        border-radius: $Border-radius;
        display: flex;
        flex-direction: column;
        padding: .8em {
            left: 1.5em;
        };
        box-shadow: $Shadows;
        &__closing-btn{
            align-self: flex-end;
            margin-bottom: 2em;
            transition: $Transiton;
            @extend .header__opening-btn;
            &:hover{
                transform: scale(1.1);
            }
        }
        &__link{
            color: #444;
            font-weight: 400;
            margin-bottom: 1em;
            transition: $Transiton;
            &:hover{
                color: $Primery-color;
                transform: translateX(.5em);
            }
        }
        @media (max-width: 786px) {
            right: 1em;
        }
        @media (max-width: 340px) {
            right: 50% !important;
            transform: translateX(50%);
            align-items: center;
        }
        // Hide and dispaly links
        display: none;
        &--active{
            display: flex;
            animation: dispaly-smoothly .5s ease-in-out;
        }
        @keyframes dispaly-smoothly {
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }
    }
    &__intro{
        text-align: center;
        text-transform: capitalize;
        padding: 0 1em;
        background-image: url("../../images/mountain.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__heading{
            color: $Primery-color;
        }
        &__paragraph{
            font-weight: 400;
            @media (max-width: 572px) {
                color: white;
            }
        }
    }
}

//      =========================
//      =   Features Sections   =
//      =========================

.features{
    .container{
        @extend %responsive-grid;
        grid-gap: 1em;
    }
    &__feat{
        padding: 1em .5em;
        text-align: center;
        border-radius: .3em;
        &__icon{
            font-size: 2em !important;
            color: $Primery-color;
        }
        &__heading{
            margin: .8em 0;
        }
    }
}

//      =========================
//      =   Services Section    =
//      =========================
.services{
    &__content{
        @extend %responsive-grid;
        &__service{
            min-height: 180px;
            display: flex;
            margin: 2em 1em;
            &__icon{
                color: $Primery-color;
                margin-right: .5em;
            }
            &__description__heading{
                margin-bottom: .8em
            }
            @media (max-width: 635px) {
                flex-direction: column;
                text-align: center;
                &__description__heading{
                    margin-top: .8em;
                }
            }
        }
        &__image{
            width: 250px;
            height: 300px;
            object-fit: cover;
            position: relative;
        }
    }
    .col--image{
        place-self: center;
        position: relative;
        &::after{
            content: "";
            display: block;
            width: 80px;
            height: 300px + 40px;
            background-color: $Secondary-color;
            position: absolute;
            top: -20px;
            right: -40px;
            z-index: -1;
        }
        @media (max-width: 992px) {
            margin-top: 2em;
        }
    }
}

//      ========================
//      =   Portfolio Seciton  =
//      ========================
.portfolio{
    background-color: #fafafa;
    padding: 2em 0;
    &__content__works{
        @extend %responsive-grid;
        &__work{
            margin: 1.5em 1em;
            &__image{
                max-width: 100%;
                cursor: pointer;
            }
            &__title{
                margin: .5em 0;
                transition: $Transiton;
                cursor: pointer;
                &:hover{
                    color: $Primery-color;
                }
            }
        }
    }
    &__content__more-works-btn{
        background-color: transparent;
        border: 1px solid #333;
        border-radius: none;
        padding: .5em 1em;
        display: block; // inline elements can't be centered when using margin auto
        margin: 3em auto;
        transition: $Transiton;
        &:hover{
            background-color: #111;
            color: white;
        }
    }
}

//      ===================
//      =  About Section  =
//      ===================
.about{
   &__content{
        display: grid;
        grid-template-columns: 400px 1fr;
        gap: 2em 6em;
        align-items: center;
        &__image{
            max-width: 100%;
            outline: 1px solid $Secondary-color;
            outline-offset: .2em;
        }
        &__description{
            p:first-of-type{
                font-weight: bold;
                line-height: 1.6;
            }
            hr{ 
                width: 50%;
                border-color: $Primery-color;
                margin: 1em 0 ;
            }
        }
        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 1em;
            hr{
                margin: 1em auto;
            }
        }
   }
}

.container{
    margin: 1em auto;
    @media (min-width: 786px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1070px;
    }
}

%responsive-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.section-heading{
    font-size: 4em;
    letter-spacing: .2em;
    text-align: center;
    color:  #ebeced;
    @media (max-width: 522px) {
        font-size: 3em;
    }
    @media (max-width: 352px) {
        letter-spacing: .1em;
    }
}

.section-description-paragraph{
    text-align: center;
    font-weight: 400;
    position: relative;
    bottom: 1.2em;
    margin-bottom: 2em;
}
